.input{
    border:1px solid #CCCCCC;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    user-select: auto !important;
}
.input:not(:last-child){
    margin-bottom: 20px;
}
.input:focus{
    outline:3px solid #FE6600;
    border:none;
}