.subtitle{
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 50px;
}
.subtitle span{
    color:#FE6600;
}

@media(max-width: 1200px){
    .subtitle{
        font-size: 30px;
        margin-bottom: 30px;
    }
}
@media(max-width: 7670px){
    .subtitle{
        margin-bottom: 20px;
    }
}