.buttonsSlider_box{
    position: absolute;
    width: 100%;
    top: 50% ;
    transform: translate(0, calc(50% - 38px));
    z-index: 10;
}
.buttonSlider{
    border-radius: 50%;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F8FA;
    position: absolute;
    border: 1px solid #d0d0d0;
    cursor: pointer;

}

.buttonSlider_left{
    left: -25px;
}
.buttonSlider_right{
    right: -25px;
}
.buttonSlider_icon{
    font-size: 25px;
}


@media(max-width: 1200px){
    .buttonSlider_icon{
        font-size: 18px;
    }
}
/*@media(max-width: 767px){*/
/*    .buttonSlider_icon{*/
/*        font-size: 14px;*/
/*    }*/
/*}*/